ul{
  padding: 0;
  margin: 0;
}
ul li{
  display: inline-block;
  margin-right: 10px;
  background-color: rgb(93, 93, 231);
  padding: 10px;
  
}
ul li a{
  color: #fff;
  text-decoration: none;
}
.wrapper{
  max-width: 1170px;
  margin: 60px auto;
}
input{
  display: block;
  width: 300px;
  height: 20px;
  margin: 10px 0;

}
button{
  width: 200px;
  height: 30px;
}